.example-card {
  max-width: 450px;
  background: rgba(255, 255, 255, 0.1);

}

.pokedex {
  background-image: url('/assets/img/Pokedex.jpg');
}

.cardImage {
  max-width: 200px;
  margin-top: 15px;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
}

.barra-HP {
  width: 80px;
  height: 10px;
  border: 1px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  background-color: greenyellow;
}

label {
  font-family: "Impact";
  font-size: 10px;
  text-align: left;
  position: absolute;
  top: 47px;
  left: 84px;
}
